<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>javaWeb</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ServletDemo1</display-name>
		<servlet-name>ServletDemo1</servlet-name>
		<servlet-class>com.servlet.demo.ServletDemo1</servlet-class>
		<!-- 服务器启动时创建Servlet 启动优先级 取值为数字越小优先级越高，不能写0  -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletDemo2</display-name>
		<servlet-name>ServletDemo2</servlet-name>
		<servlet-class>com.servlet.demo.ServletDemo2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletDownload</display-name>
		<servlet-name>ServletDownload</servlet-name>
		<servlet-class>com.servlet.demo.ServletDownload</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletYanZhengMa</display-name>
		<servlet-name>ServletYanZhengMa</servlet-name>
		<servlet-class>com.servlet.demo.ServletYanZhengMa</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletRefresh</display-name>
		<servlet-name>ServletRefresh</servlet-name>
		<servlet-class>com.servlet.demo.ServletRefresh</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletCdx1</display-name>
		<servlet-name>ServletCdx1</servlet-name>
		<servlet-class>com.servlet.demo.ServletCdx1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletCdx2</display-name>
		<servlet-name>ServletCdx2</servlet-name>
		<servlet-class>com.servlet.demo.ServletCdx2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletUserAgent</display-name>
		<servlet-name>ServletUserAgent</servlet-name>
		<servlet-class>com.servlet.demo.ServletUserAgent</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletParameter</display-name>
		<servlet-name>ServletParameter</servlet-name>
		<servlet-class>com.servlet.demo.ServletParameter</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CookieDemo1</display-name>
		<servlet-name>CookieDemo1</servlet-name>
		<servlet-class>com.cookie.CookieDemo1</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletDemo1</servlet-name>
		<url-pattern>/ServletDemo1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletDemo2</servlet-name>
		<url-pattern>/ServletDemo2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletDownload</servlet-name>
		<url-pattern>/ServletDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletYanZhengMa</servlet-name>
		<url-pattern>/ServletYanZhengMa</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletRefresh</servlet-name>
		<url-pattern>/ServletRefresh</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCdx1</servlet-name>
		<url-pattern>/ServletCdx1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCdx2</servlet-name>
		<url-pattern>/ServletCdx2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletUserAgent</servlet-name>
		<url-pattern>/ServletUserAgent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletParameter</servlet-name>
		<url-pattern>/ServletParameter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CookieDemo1</servlet-name>
		<url-pattern>/CookieDemo1</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
